body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: #edede9;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color:#155598 ;
    font-size: 3rem;
}

#quote-text {
    color:#580c28;
    font-size: 2rem;
    font-family: 'josefin Sans' ,serif;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#new-quote-btn {
    border: 1.5px solid pink;
    border-radius: 5px;
    color: #3ea28d;
    padding: 5px;
    cursor: pointer;
    font-weight: bolder;
    margin-top: 10px;
}

#new-quote-btn:hover {
    color: white;
    background-color:  #3ea28d;
}