body {
    margin: 0;
    padding: 0;
    font-family:"Josefin Sans", serif;
    font-size: 3rem;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    padding: 20px; 
    box-sizing: border-box; 
}

.timer {
    color: rgb(13, 128, 97);
}

.buttons button {
    font-size: 2rem;
    padding: 10px 17px;
    color: #52796f;
    background-color: pink;
    border: none;
    border-radius:10px;
    margin-top: 20px;
    cursor: pointer;
}

@media (max-width: 625px){
    body{
        font-size: 2rem;
        background-color: rgb(175, 84, 99);
        color: whitesmoke;
    }
    .container {
        padding: 5px;
        flex-direction: column;
    }
    .buttons button {
        font-size: 1rem;
    }
}
